*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    width: 100%;
    min-width: 100%;
    max-height: 90px;
    background-color: #FCF5EF;
    z-index: 99;
}
header .container{
    width: 96%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
header .logo{
    width: 100px;
    height: 90px;
    /* max-height: 90px; */
    background-color: aqua;
    margin-left: 20px;
    /* position: fixed; */
}
header .logo img{
    width: 130px;
    height: 100%;
    max-height: 90px;
}
header  button{
    margin: 0 10px;
    height: 40px;
    width: 100px;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.5);
}
header .btns .login{
    background-color: #C3ACD0;
}
header .btns .signup{
    background-color: #7743DB;
}
header .btns button:hover{
    opacity: 0.8;
}
header .btn{
    color: #fff;
    background-color: #7743DB;
    
    display:inline-block;
}
header .userinfo{
    display: flex;
    width: 20%;
    /* background-color: brown; */
    /* flex-direction:row ; */
    gap: 30px;
    align-items: center;
    gap: 15px;
    z-index: 99;
    /* position: absolute; */
    display: none;

}
.iconplusdiv{
    /* background-color: blue; */
    position: relative;
    display: flex;
    flex-direction: column;
    display: inline-block;
}
.budget{
    display: flex;
    gap: 5px;
    position: relative;
    top: 5px;
}
#username{
    margin-right: 10px;
    text-decoration: underline;
    color: #000;
}
.carts_products{
    z-index: 100;
    border-radius: 25px;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
    position: absolute;
    right: -160px;
    top: 45px;
    overflow: scroll;
    /* height: auto; */
    height: 600px;

    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}
header .userinfo i{
    color: #C3ACD0;
    cursor: pointer;
    font-size: 25px;
}
/* ///////////////////////////////////////////////register/sign in//////////////////////////////////////////////////// */
.sec_form {
    width: 54%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #F7EFE5;
    border-radius:30px;
    padding: 15px 0;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.5);
}
.sec_form .form{
    margin: auto;
    height: auto;
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sec_form form{
    width: 90%;
    height:auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sec_form .form form input{
    width: 100%;
    padding-left: 10px;
    height: 40px;
    outline: none;
    border:1px solid #ddd;
}
.ch{
    margin-top: 5px;
    display: flex;
    gap: 5px;
}
#reg{
    display: inline-block;
    color: #000;
}
.sec_form .form form input[type="checkbox"]{
    width: auto;
    height: auto;
    align-self: start;
    display: inline;
    cursor: pointer;
}
.sec_form .form form button{
    width: 150px;
    height:40px ;
    margin:  10px auto;
    background-color: #7743DB;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
}
.sec_form .form form button:hover{
    opacity: 0.8;
}
@media (max-width: 768px){
    .sec_form{
        width: 90%;
    }
    .sec_form .form form button{
        width: 100%;
    }
    header .btns{
        display: flex;
        justify-content: space-between;
        /* width: 100%; */
        gap: 10px;
    }
    header .btns button{
        width: 60px;
        height: 20px;
        margin: 10px 0;
    }
    header .logo{
        /* display: none; */
        margin-left: 0;
        width: 80px;
    }
    header .logo img{
        width: 80px;
    }
    .parent .cards{
        grid-template-columns: 1fr;
    }
} 
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
.parent{
    width:70%;
    /* background-color: aquamarine; */
    margin: auto;
    padding-bottom: 30px;
}
.parent .inputs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
    /* background-color: #7743DB; */
    justify-content: space-between;
}
.parent .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 28px; 
}
.parent .cards .c{
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    
    gap: 10px;
    border-radius: 10px;
}
.parent .cards .details{
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    gap: 10px;
}
.parent .cards .img{
    width: 100%;
    height: 280px;
    border-radius: 10px;
}
.parent .cards .img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.parent .cards .iplusbtn{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-around;
    margin-bottom: 20px;
}
.parent .cards .iplusbtn button{
    width: 110px;
    height: 30px;
    background-color:#7743DB ;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
}

@media (max-width: 768px){
    .sec_form{
        width: 90%;
    }
    .sec_form .form form button{
        width: 100%;
    }
    header .container{
        flex-direction: column;  
        align-items: center;
    }

    header .btns{
        width: 100%;
        justify-content: center; 
        gap: 10px;
        margin-top: 10px;
    }
    /* header .btns{
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
    } */
    header .btns button{
        width: 60px;
        height: 20px;
        margin: 10px 0;
    }
    header .logo{
        /* display: none; */
        margin-left: 0;
        width: 80px;
    }
    header .logo img{
        width: 80px;
    }
    .parent .cards{
        grid-template-columns: 1fr;
    }
} 

.love{
    cursor: pointer;
    font-size: 20px;
    color: #C3ACD0;
}
.search{
    width: 60%;
    height: 40px;
    outline: none;
}
.search-btn{
    width: 15%;
    background-color: #7743DB;
    cursor: pointer;
    border: none;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.inputs select{
    width: 20%;
    padding-left: 10px;
}
.inputs select option:checked{
    padding: 10px;
    background-color: #C3ACD0;
}
